[submodule "example_repo/micro_ros_raspberrypi_pico_sdk"]
	path = example_repo/micro_ros_raspberrypi_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk.git
	branch = humble
[submodule "extra_packages/micro_ros_platformio"]
	path = extra_packages/micro_ros_platformio
[submodule "extra_packages/micro_ros_raspberrypi_pico_sdk"]
	path = extra_packages/micro_ros_raspberrypi_pico_sdk
