launch/__pycache__/camera.launch.cpython-310.pyc
launch/__pycache__/launch_robot_pi.launch.cpython-310.pyc
launch/__pycache__/joystick.launch.cpython-310.pyc
*.cpython-310.pyc
*.pyc
__pycache__/**
__pycache__
build/**
log/**
install/**
**/build/**
**/log/**
**/install/**
# Ignore build artifacts
build/
install/
log/


# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore macOS files
.DS_Store

# Ignore virtual environments
.venv/
venv/
*.log